<% provide(:title, 'Home') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<p>Total Projects This Month:<%= @projects.size %></p>
		<p>Total Deadlines This Month:<%= @deadlines.size %></p>
		<p>Open Projects: </p>
		<p>Closed Projects: </p>
	</div>
</div>