<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>

	<body>
		Message here


		Deadline

		Project info, source/target, total words, new words, special instructions.

		Kit info

		PO Breakdown

		Signature
	</body>
</html>