<% provide(:title, 'Email Translator') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		<h2 class="center">Send Email</h2>
		<%= form_tag('/projects/emailtranslator') %>

		<%= submit_tag "Send Email" %>
	</div>
</div>