<% provide(:title, 'Project') %>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
	<div class="well">
		Translators placeholder
	</div>
	<div class="well">
		Client placeholder
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
	<div class="well">
		Main Project breakdown
	</div>
	<div class="well">
		Files
	</div>
</div>