@import "bootstrap";

/* Colour Variables */

$white: #fff;
$blue: #428ad4;
$orange: #e8641b;
$grey: #f0f0f0;
$lightgrey: #8fa29b;

/* backgrounds */

body {
	background-color: $grey;
}

.white {
	border: 1px solid $blue;
	border-radius: 10px;
	background-color: $white;
	height: 100%;
}

.lightgrey {
	background-color: $lightgrey;
	width: 100%;
}
/* Typography */

h1.center {
	text-align: center;
	color: $blue;
}

h2.center {
	text-align: center;
	color: $blue;
	font-size: 24px;
	margin-top: 0px;
}


/* Colour changes */

.well {
	margin-top: 20px;
	padding: 15px;
	border: 1px solid $blue;	
	background-color: $white;
}

.btn-primary {
	margin-top: 20px;
	background-color: $white;
	border-color: $orange;
	color: $blue;
	font-weight: bold;
}

.form-control {
	border: 1px solid $blue;
}

a {
	color: $orange;
}

.navbar-default {
	border: 1px solid $blue;
	border-radius: 10px;
	margin-top: 20px;

	.navbar-nav {
		li {
			a {
				font-weight: bold;
				color: $orange;
			}
		}
	}
}

.navbar-nav li a {
	font-weight: bold;
	color: $orange;
}

/* header */

.left {
	color: $blue;
	font-weight: bold;
}

/* alerts */

.alert {
	margin-top: 10px;
}

/* Project page */

p.translator i {
	margin-right: 5px;
}

