@font-face {
	font-family: 'ITCAvantStdBold';
	src: url(/assets/ITCAvantGardeStd-Bold.otf) format('truetype'); 
}

@font-face {
	font-family: 'ITCAvantStdXlt';
	src: url(/assets/ITCAvantGardeStd-XLt.otf) format('truetype');
}

h1 {
	font-family: 'ITCAvantStdBold';
	color: #0094d0;
}

h2 {
	font-family: 'ITCAvantStdXlt';
}

#title {
	color: #f5821f; 
	font-weight: bold; 
	float: right;
}

.address {
	color: #0094d0; 
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer {
	margin-top: 20px;
	float: right;
}