@font-face {
	font-family: 'ITCAvantStdBold';
	src: asset-url('fonts/ITCAvantGardeStd-Bold.otf') format('otf'); 
}

@font-face {
	font-family: 'ITCAvantStdXlt';
	src: asset-url('fonts/ITCAvantGardeStd-XLt.otf') format('otf');
}

h1 {
	font-family: 'ITCAvantStdBold';
	color: #0094d0;
}

h2 {
	font-family: 'ITCAvantStdXlt'
}

#footer {
	margin-top: 20px;
	float: right;
}